.container{
    display: flex;
    justify-content: center;
}
.heading{
    text-align: center;
    color: rgb(7, 2, 105);
}

.display{
    width: 40%;
    /* background-color: rgb(208, 210, 211); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    min-height: 85vh;
}

.child_display{
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_field{
    width: 100%;
}

.input_field,
.input_field_button,
.forget_password,
.not_a_member{
    margin-top: 1rem;
}
.input_field input{
    width: 100%;
    background-color: transparent;
}

.input_field input::placeholder{
    font-size: 1rem;
}

.input_field input[type=text],
.input_field input[type=email],
.input_field input[type=password]{
    font-size: larger;
}

.container_for_error_message{
    display: flex !important;
    align-items: center;
    gap: 0.3rem;
}

.container_for_error_message p,
.error_icon{
    color: red;
    margin: 0;
    font-size: 0.9rem;
}

.error_icon{
    margin-top: 0.2rem;
}

.input_field_button button{
    width: 100%;
}

@media(max-width:426px) {
    .display{
        width: 100%;
    }
}